.flag {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 60px;
}

h1 {
  text-align: center;
}

.Quinn {
  color: green;
}

.Pizza {
  color: red;
}

.flagNav {
  width: auto;
  border: 4px solid green;
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 10px;
  padding: 10px;
  background: linear-gradient(-45deg, #f80101, #ffffff, #04c00e);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.menuNav {
  width: auto;
  border: 2px solid green;
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 10px;
  text-align: center;
  color: green;
}

.links {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.inlinePages {
  display: inline-block;
}

.inlineOptions {
  display: inline-block;
}

#codeSubmission {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Specials*/
.coupon {
  border: 5px dotted #bbb;
  width: 90%;
  border-radius: 15px;
  margin: 10px auto;
  max-width: 600px;
}

.container {
  padding: 2px 16px;
  background-color: #f1f1f1;
}

.container__white {
  padding: 2px 16px;
  background-color: white;
}

.promo {
  background: rgb(231, 255, 123);
  padding: 3px;
}

.expire {
  font-size: 75%;
}

.coupontitle {
  text-align: center;
}

.couponabout {
  text-align: center;
}

/*End specials*/

/*footer*/
footer {
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: rgb(185, 182, 182);
  text-align: center;
}

/*End footer*/

/*Home*/
.homeDiv {
  border: 5px solid red;
  padding: 5px;
}

.aboutUs {
  text-align: center;
}

#chef {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 200px;
  width: 200px;
}

/*End Home*/

/*Reviews*/
.carousel {
  position: relative;
}

.carousel__item {
  height: 300px;
  background: gray;
  padding: 5px;
  display: none;
}

.carousel__item--selected {
  height: 300px;
  background: rgb(255, 255, 255);
  padding: 5px;
  display: block;
}

.carousel__nav {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__button {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: rgb(255, 0, 0);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.carousel__button--selected {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: green;
  border-radius: 50%;
  margin: 0 5px;
}

#ninja__pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  width: 75%;
  height: 75%;
}

.carousel__text {
  text-align: center;
  font-size: 15px;
  padding-right: 80px;
  padding-left: 80px;
}

#scooby__pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  width: 75%;
  height: 75%;
}

#garfield__pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  width: 80%;
  height: 60%;
}

/*End Reviews*/

/*Menu*/
#pizza__pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  width: 100%;
  height: 75%;
}

/*End Menu*/

.pep__coupon--img {
  height: 300px;
  width: 100%;
}

.sau__coupon--img {
  height: 300px;
  width: 100%;
}

