.flag {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 60px;
}

h1 {
  text-align: center;
}

.Quinn {
  color: green;
}

.Pizza {
  color: red;
}

.flagNav {
  width: auto;
  border: 4px solid green;
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 10px;
  padding: 10px;
  background: linear-gradient(-45deg, #f80101, #ffffff, #04c00e);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.menuNav {
  width: auto;
  border: 2px solid green;
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 10px;
  text-align: center;
  color: green;
}

.links {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.inlinePages {
  display: inline-block;
}

.inlineOptions {
  display: inline-block;
}

#carousel {
  width: 100%;
  height: 375px;
  background-color: rgb(255, 167, 167);
  overflow: scroll;
  white-space: nowrap;
}

#carousel .slide {
  display: inline-block;
}

.menupicture {
  width: 300px;
  height: 300px;
}

.menutext {
  text-align: center;
}

#codeSubmission {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Specials*/
.coupon {
  border: 5px dotted #bbb;
  width: 90%;
  border-radius: 15px;
  margin: 10px auto;
  max-width: 600px;
}

.container {
  padding: 2px 16px;
  background-color: #f1f1f1;
}

.promo {
  background: rgb(231, 255, 123);
  padding: 3px;
}

.expire {
  font-size: 75%;
}

.coupontitle {
  text-align: center;
}

.couponabout {
  text-align: center;
}

/*End specials*/

/*footer*/
footer {
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: rgb(185, 182, 182);
  text-align: center;
}
